.container-lagash .card-lagash {
	background: url(../../../assets/img/legacy/milky.png) no-repeat;
	background-size: 100% 100%;
	float: left;
}

.container-lagash .card-lagash:hover {
	filter:brightness(0.4);
}