<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4 col-4 header-top-left no-padding">
        <a href=""><span class="lnr lnr-location"></span></a>
          <a class="contact-texts" routerLink="/main">BIBLIOTECA SIGHART KLAUSS</a>
        </div>
        <div class="col-md-4 col-4 header-top-bottom no-padding">
          <a routerLink="/main"><img class="img-fluid" src="./assets/img/logo.jpg" /></a>
        </div>
        <div *ngIf="!user" class="col-md-4 col-4 header-top-right no-padding">
          <a class="primary-btn" routerLink="/login">Iniciar session</a>
          <a routerLink="/loans"><span class="lnr lnr-book" style="font-size:20px;">{{loans}}</span></a>
        </div>
        <div *ngIf="user" class="col-md-4 col-4 header-top-right no-padding lagash-user">
          <a routerLink="/login" class="user"><img src="./assets/img/user.png">{{user.name}}</a>
          <a routerLink="/loans"><span class="lnr lnr-book" style="font-size:20px;">{{loans}}</span></a>
          <div class="dropdown">
            <span (click)="show_elements()" class="lnr lnr-chevron-down"></span>
            <div id="myDropdown" class="dropdown-content">
              <a (click)="logout()">Salir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-center">
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a routerLink="/main">Principal</a></li>
        <!-- <li><a routerLink="/browser-2">Buscador</a></li> -->
        <li><a routerLink="/books">Libros</a></li>
        <li><a routerLink="/thesis">Tesis</a></li>
        <li><a routerLink="/magazines">Revistas</a></li>
        <li><a routerLink="/newspapers">Periodicos</a></li>
        <li><a routerLink="/information">Informacion</a></li>
      </ul>
    </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
