<div class="lagash-navbar-header fixed-top">
  <div class="header-container">
    <div class="container">
      <div class="logo">
        <a routerLink="/"><img src="./assets/img/logo-uab.png" /></a>
      </div>
      <div class="header-information">
        <div class="header-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div>
          <h5>Av. Simón I. Patiño Km1</h5>
          <span>Vinto - Cochabamba - Bolivia</span>
        </div>
      </div>
      <div class="header-information">
        <div class="header-icon">
          <mat-icon>phone_enabled</mat-icon>
        </div>
        <div>
          <h5>800 10 91 91</h5>
          <p>Línea Gratuita</p>
        </div>
      </div>
      <div class="lagash-media">
        <div>
          <mat-icon>linked_camera</mat-icon>
        </div>
        <div>
          <mat-icon>share</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark lagash-navbar">
    <div class="col-lg-2"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/main">BIBLIOTECA SIGHART KLAUSS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/thesis">Tesis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/magazines">Revistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/newspapers">Periodicos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Informacion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/information/history">Historia</a>
            <a class="dropdown-item" routerLink="/information/mission">Misión y Visión</a>
            <a class="dropdown-item" routerLink="/information/objectives">Objetivos</a>
            <a class="dropdown-item" routerLink="/information/organization">Organización</a>
            <a class="dropdown-item" routerLink="/information/activities">Actividad cooperativa</a>
            <a class="dropdown-item" routerLink="/information/specialties">Especialidades</a>
            <a class="dropdown-item" routerLink="/information/services">Servicios y Atención</a>
            <a class="dropdown-item" routerLink="/information/schedule">Horario de atención</a>
            <a class="dropdown-item" routerLink="/information/requirements">Requisitos de Préstamo</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div *ngIf="!user">
            <a class="nav-link" routerLink="/login">Iniciar session</a>
          </div>
        </li>
        <li class="nav-item">
          <div *ngIf="!user">
            <a class="nav-link" routerLink="/loans">{{loans}}</a>
          </div>
        </li>
        <li class="nav-item">
          <!-- // not tested -->
          <div *ngIf="user" class="lagash-user">
            <a class="nav-link" routerLink="/login" class="user"><img src="./assets/img/user.png">{{user.name}}</a>
            <a class="nav-link" routerLink="/loans">{{loans}}</a>
            <div class="dropdown">
              <span (click)="show_elements()" class="lnr lnr-chevron-down"></span>
              <div id="myDropdown" class="dropdown-content">
                <a (click)="logout()">Salir</a>
              </div>
            </div>
          </div>
          <!-- // not tested -->
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="lagash-container">
  <router-outlet></router-outlet>  
</div>
