.about-banner {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

.about-banner {
    background: url(../../assets/img/carousel/top-banner-2.jpg) right no-repeat;
    background-size: cover;
}
.relative {
    position: relative;
}

.banner-area .overlay-bg {
    background-color: rgba(0, 0, 0, 0.2);
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.about-content h1 {
    font-size: 48px;
    font-weight: 600;
}
.about-content {
    margin-top: 98px;
    padding: 90px 0px;
    text-align: center;
}
.link-nav {
    margin-top: 10px;
    margin-bottom: 0px;
}
.text-white {
    color: #fff !important;
}
.about-content h1 {
    font-size: 48px;
    font-weight: 600;
}

.about-content .lnr {
    margin: 0px 10px;
    font-weight: 600;
}

.about-content a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
