
<!-- <div class="image-back">
  <div class="container">
	 <div style="margin-top:200px">
		  <div class="row">
    		<div class="col-md-2">
  				<img class="icon" src="img/Home2.png">
  				<a href=""><p class="texto">Inicio</p></a>
  			</div>
  			<div class="col-md-2">
  				<img class="icon" src="img/Home2.png">
  				<a href=""><p class="texto">Inicio</p></a>
  			</div>
  			<div class="col-md-2">
  				<img class="icon" src="img/Home2.png">
  				<a href=""><p class="texto">Inicio</p></a>
  			</div>
  			<div class="col-md-2">
  				<img class="icon" src="img/Home2.png">
  				<a href=""><p class="texto">Inicio</p></a>
  			</div>
    		<div class="col-md-2">
    			<img class="icon" src="img/Home2.png">
  				<a href=""><p class="texto">Inicio</p></a>
  			</div>
    		<div class="col-md-2">
    			<img class="icon" src="img/Home2.png">
  				<a href=""><p class="texto">Inicio</p></a>
  			</div>
    	</div>
    </div>
  </div>
</div> -->
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-4">
              <img class="img-circle img-size" src="assets/img/logo-footer.jpg" alt="Visión">
              <h2>Visión</h2>
                <p>
                	El CAB es una institución patrocinada por la IASD, con ramificaciones en todo el mundo...
                </p>
                <p>
                    <a class="btn btn-default" href="#" role="button">
                        Ver detalle &raquo;
                    </a>
                </p>
            </div>
            <div class="col-lg-4">
              <img class="img-circle img-size" src="assets/img/logo-footer.jpg" alt="Misión">
              <h2>Misión</h2>
              <p>
                  Promover un ambiente para favorecer la obra educativa en cada persona mediante actividades curricuolares y extracurriculares.
              </p>
              <p>
                  <a class="btn btn-default" href="#" role="button">
                      Ver detalle &raquo;
                  </a>
              </p>
            </div>
            <div class="col-lg-4">
              <img class="img-circle img-size" src="assets/img/logo-footer.jpg" alt="Viajes">
              <h2>Contactanos</h2>
                <p>
                  Llama ya al 800109191
                  Av. Simón I. Patiño Km 1
                   Teléfono: (591 4) 4263330 • Fax: (591 4) 4263336
                </p>
                <p>
                  <a class="btn btn-default" href="#" role="button">
                      Ver detalle &raquo;
                  </a>
                </p>
            </div>
        </div>
    </div>


   	<div class="container">
   		<div class="row">
   			<div class="col-md-9">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">UNIDAD EDUCATIVA ADVENTISTA DE BOLIVIA</h3>
				  	</div>
				  	<div class="panel-body">
              <h3>Cronograma:</h3>
              <ul>
                <li>Apertura de Inscripción: 13 de enero de 2014</li>
                <li>INICIO DE CLASES: Según determinaciones del Ministerio de Educación.</li>
              </ul>
						 <p>
						</p>
            <h3>Cuenta con: </h3>
            <ul>
              <li>Turno Tarde </li>
              <li>Turno Mañana</li>
            </ul>
            <h3>En los siguientes niveles:</h3>
            <ul>
              <li>INICIAL</li>
              <li>PRIMARIO</li>
              <li>SECUNDARIO</li>
            </ul>
            <h3>Contamos con:</h3>
            <ul>
              <li>2 Salas audio visuales (primaria y secundaria)</li>
              <li>Laboratorios de computación</li>
              <li>Laboratorio de Física</li>
              <li>Laboratorio de Química</li>
              <li>Laboratiorio de Biología</li>
              <li>Biblioteca Virtual y Física</li>
              <li>Gabinete Psicopedagógico</li>
              <li>Coordinación Pedagógica (seguimiento académico personal del estudiante)</li>
              <li>Pista Atlética</li>
              <li>Piscina Semiolímpica</li>
              <li>Internet Wi-Fi</li>
              <li>Atención Médica</li>
              <li>Seguridad Privada</li>
              <li>Parques, Plaza</li>
            </ul>
				 	</div>
				</div>
   			</div>
   			<div class="col-md-3">
   				<div class="list-group">
				  	<a href="#" class="list-group-item active">COLEGIO CEAB</a>
					<a href="#" class="list-group-item">Admisión 2014</a>
					<a href="#" class="list-group-item">UNIDAD EDUCATIVA ADVENTISTA DE BOLIVIA</a>
					<a href="#" class="list-group-item">Visión</a>
					<a href="#" class="list-group-item">Misión</a>
					<a href="#" class="list-group-item">Personal Administrativo</a>
					<a href="#" class="list-group-item">Requisitos de inscripción</a>
					<a href="#" class="list-group-item">Costos 2014</a>
				</div>
   			</div>
   		</div>
   	</div>
   	<div class="container">
   		<div class="row">
   			<div class="col-md-9">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">REQUISITOS DE INSCRIPCIÓN ACADÉMICA (sin internado)</h3>
				  	</div>
				  	<div class="panel-body">
						<ul>
							<li>Certificado de nacimiento (una fotocopia)</li>
							<li>Cédula de identidad (una fotocopia)</li>
							<li>Libreta del colegio de procedencia (si es de Cochabamba firmado por la distrital; si es del interior del país firmado por la distrital y departamental respectivamente)</li>
							<li>Fotocopia de la libreta del colegio de procedencia</li>
							<li>Fotocopia de Cédula de Identidad de ambos padres</li>
							<li>Cuatro fotos color fondo rojo 3x4</li>
						</ul>
						<p>Presentarlos en secretaria de la Unidad Educativa Adventista de Bolivia.</p>
				 	</div>
				</div>
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">REQUISITOS PARA INTERNADO
(Ingreso para residencias estudiantiles nivel secundario)</h3>
				  	</div>
				  	<div class="panel-body">
					<ul>
						<li>Llenar formulario de información del alumno</li>
						<li>1 Foto 3 x 4 fondo rojo</li>
						<li>Fotocopia Certificado de Nacimiento</li>
						<li>Fotocopia del CI</li>
						<li>Carta solicitando la admisión al internado y los motivos por los cuales quiere que su hijo/a esté interno/a, dirigido a Pr. Daniel Llusco. DIRECTOR DE BIENESTAR ESTUDIANTIL DE LA UAB.</li>
						<li>Certificado de conducta del colegio</li>
						<li>Certificado Médico</li>
						<li>Si los padres no viven en Cochabamba y el estudiante es menor de edad debe tener un tutor - Carta Poder original</li>
						<li>Fotocopia certificado de bautismo (solo para miembros de la Iglesia Adventista del Séptimo Día) y recomendación del pastor.</li>
						<li>Tener como promedio general de notas 45 puntos.</li>
					</ul>
					<p>Presentarlos en Bienestar Estudiantil de la UAB.</p>
				 	</div>
				</div>
   			</div>
   			<div class="col-md-3">
   				<div class="list-group">
				  	<a href="#" class="list-group-item active">COLEGIO CEAB</a>
					<a href="#" class="list-group-item">Admisión 2014</a>
					<a href="#" class="list-group-item">UNIDAD EDUCATIVA ADVENTISTA DE BOLIVIA</a>
					<a href="#" class="list-group-item">Visión</a>
					<a href="#" class="list-group-item">Misión</a>
					<a href="#" class="list-group-item">Personal Administrativo</a>
					<a href="#" class="list-group-item">Requisitos de inscripción</a>
					<a href="#" class="list-group-item">Costos 2014</a>
				</div>
   			</div>
   		</div>
   	</div>
   	<div class="container">
   		<div class="row">
   			<div class="col-md-9">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Misión</h3>
				  	</div>
				  	<div class="panel-body">
						<p>
							Promover un ambiente para favorecer la obra educativa en cada persona mediante actividades curricuolares y extracurriculares.
						</p>
						<ul>
							<li>
								Contribuir a la formación del carácter mediante actividades manuales y de servicio.
							</li>
							<li>
								Ofrecer programas de alta calidad científica y tecnología que respondan a la realidad local, nacional e internacional.
							</li>
							<li>
								Brindar excelencia académica por meido de docentes competentes y servicos educativos adecuados.
							</li>
							<li>
								Desarrollar proyectos de investigación y programas de extensión dirigido a la sociedad para coadyuvar en la solución de sus problemas.
							</li>
							<li>
								Formar profesionales con vocación de servicio que posean pensamiento reflexivo, creativo y ético para desempeñarse con responsabilidad y eficiencia.
							</li>
						</ul>
				 	</div>
				</div>
   			</div>
   			<div class="col-md-3">
   				<div class="list-group">
				  	<a href="#" class="list-group-item active">COLEGIO CEAB</a>
					<a href="#" class="list-group-item">Admisión 2014</a>
					<a href="#" class="list-group-item">UNIDAD EDUCATIVA ADVENTISTA DE BOLIVIA</a>
					<a href="#" class="list-group-item">Visión</a>
					<a href="#" class="list-group-item">Misión</a>
					<a href="#" class="list-group-item">Personal Administrativo</a>
					<a href="#" class="list-group-item">Requisitos de inscripción</a>
					<a href="#" class="list-group-item">Costos 2014</a>
				</div>
   			</div>
   		</div>
   	</div>
<!-- mision -->




<!-- vision -->
   	<div class="container">
   		<div class="row">
   			<div class="col-md-9">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Visión</h3>
				  	</div>
				  	<div class="panel-body">
						<div class="jumbotron">
							"El CAB es una institución patrocinada por la IASD, con ramificaciones en todo el mundo. Su finalidad principal es la de proporcionar educación cristiana altamente formativa del carácter y la personalidad de sus educandos. Dentro de este propósito "las actividades intelectuales son equilibradas armónicamente con el desarrollo físico, social, cultural y espiritual."
						</div>
				 	</div>
				</div>
   			</div>
   			<div class="col-md-3">
   				<div class="list-group">
				  <a href="#" class="list-group-item active">
				    COLEGIO CEAB
				  </a>
					<a href="#" class="list-group-item">Admisión 2014 </a>
					<a href="#" class="list-group-item">UNIDAD EDUCATIVA ADVENTISTA DE BOLIVIA</a>
					<a href="#" class="list-group-item">Visión</a>
					<a href="#" class="list-group-item">Misión</a>
					<a href="#" class="list-group-item">Personal Administrativo</a>
					<a href="#" class="list-group-item">Requisitos de inscripción</a>
					<a href="#" class="list-group-item">Costos 2014</a>
				</div>
   			</div>
   		</div>
   	</div>
<!-- vision -->





<!-- personal -->
   	<div class="container">
   		<div class="row">
   			<div class="col-md-9">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Personal Administrativo</h3>
				  	</div>
				  	<div class="panel-body">
						<ul>
							<li><strong>Director:</strong> Lic Ivan Flores</li>
							<li><strong>Secretaria:</strong> Hna. Celia Apaza</li>
						</ul>
						<p>Departamento de Psicopedagogía.</p>
						<p>Regencia en ambos turnos respectivamente.</p>
				 	</div>
				</div>
   			</div>
   			<div class="col-md-3">
   				<div class="list-group">
				  	<a href="#" class="list-group-item active">COLEGIO CEAB</a>
					<a href="#" class="list-group-item">Admisión 2014</a>
					<a href="#" class="list-group-item">UNIDAD EDUCATIVA ADVENTISTA DE BOLIVIA</a>
					<a href="#" class="list-group-item">Visión</a>
					<a href="#" class="list-group-item">Misión</a>
					<a href="#" class="list-group-item">Personal Administrativo</a>
					<a href="#" class="list-group-item">Requisitos de inscripción</a>
					<a href="#" class="list-group-item">Costos 2014</a>
				</div>
   			</div>
   		</div>
   	</div>
<!-- personal -->












<!-- clear -->
   	<div class="container">
   		<div class="row">
   			<div class="col-md-9">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Clear</h3>
				  	</div>
				  	<div class="panel-body">

				 	</div>
				</div>
   			</div>
   			<div class="col-md-3">
   				<div class="list-group">
				  	<a href="#" class="list-group-item active">COLEGIO CEAB</a>
					<a href="#" class="list-group-item">Admisión 2014</a>
					<a href="#" class="list-group-item">UNIDAD EDUCATIVA ADVENTISTA DE BOLIVIA</a>
					<a href="#" class="list-group-item">Visión</a>
					<a href="#" class="list-group-item">Misión</a>
					<a href="#" class="list-group-item">Personal Administrativo</a>
					<a href="#" class="list-group-item">Requisitos de inscripción</a>
					<a href="#" class="list-group-item">Costos 2014</a>
				</div>
   			</div>
   		</div>
   	</div>
<!-- clear -->
<div class="container">
	<div class="row">
    <div class="col-lg-4">
      <h2>Safari bug warning!</h2>
      <p class="text-danger">As of v7.0.1, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
